<!--footer-->
<div class=" container-fluid bg-light">
    <footer class="container"> 
            <div class="row">
                <div class="col-md-6">
                
                <h3 class="text-justify mt-4 font-weight-bold">Contact</h3><br>
                <p class="text-justify">12, rue du docteur Hunbert <br>

                54323 Dombasle sur Meurthe</p>
                <p class="justify">Tél: 06 08 06 08 09 <br>
                Fax: 09 08 08 08 07
                </p>
                <h3 class="text-justify font-weight-bold">Nous suivre sur <br> les réseaux sociaux :</h3>
                <ul id="social-icons" class="list-inline h1">
                    <li class="list-inline-item"><a href="#" class="fa fa-facebook"></a></li>
                    <li class="list-inline-item"><a href="#" class="fa fa-twitter"></a></li>
                    <li class="list-inline-item"><a href="#" class="fa fa-soundcloud"></a></li>
                    <li class="list-inline-item"><a href="#" class="fa fa-youtube"></a></li>
                </ul>
                <ul class="list-inline text-left">
                    {{ range .Site.Menus.footer }}
                    <li class="list-inline-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                    <li class="list-inline-item">&middot;</li>
                    {{ end }}
                    
                </ul>
                </div>
                <div class="col-md-6">
                <form class="border border-black p-3 mt-5 mb-5" id="contact" action="#">
                    
                        <div class="form-group">
                        <label for="Nom">Nom</label>
                        <input type="text" class="form-control" id="Nom" placeholder="Nom">  

                        </div>
                        <div class="form-group">
                        <label for="email">Adresse Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="aideEmail" placeholder="entrez un Email">
                        <small id="aideEmail" class="form-text text-muted">je ne partage pas votre adresse Email</small>
                        </div>
                        <div class="form-group">
                        <label for="message">Votre message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>  
                        </div>
                        <div class="form-group">

                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                
                </form>   
                </div>
            </div>    
        
    </footer>    
</div>  
<!--copyright-->                              

<div class="container-fluid bg-dark" >        
    <div class="row" style="height: 75px;"><p class="mx-auto my-auto text-white">Copyright 2020 </p></div>
</div>  


<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

