<div class="row">

                        
    <div class="col-12 col-md-4">
       
            <div class="card mb-3">
                <img class="card-img-top" src="img/home-card/certificate.png" alt="image de certificat">
                    <div class="card-body">
                        <h5 class="card-title">Obtenez un diplôme</h5>
                        <p class="card-text">Notre ecole est géniale</p>
                    </div>
                <a href="presentation/studies" class="btn btn-primary mb-3" role="button">En savoir plus</a>

            </div>
    </div>

    <div class="col-12 col-md-4">
         
            <div class="card mb-3">
                <img class="card-img-top" src="img/home-card/instruction.png"  alt="image instruction">
                    <div class="card-body">
                        <h5 class="card-title">Formez-vous auprés de professionnels</h5>
                        <p class="card-text">Nous proposont des cours dans plein de domaines différents</p>
                    </div>
                    
                <a href="presentation/teachers" class="btn btn-primary mb-3" role="button">En savoir plus</a>

            </div>
    </div>

    <div class="col-12 col-md-4">
          
            <div class="card">
               <img class="card-img-top" src="img/home-card/job.png" alt="image travail">
                    <div class="card-body">
                        <h5 class="card-title">Obtenez le job de vos rêves</h5>
                        <p class="card-text">une education en ligne de qualité pour tous</p>
                    </div>
                <a href="presentation/job"  class="btn btn-primary mb-3" role="button"> En savoir plus</a>

            </div>
       
    </div>

</div>