<div class="row mt-5">
    <div class="col">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/home-action/ordinateurs.jpg" class="rounded img-fluid" width="450" height="450" alt=" photo d'une série d'ordinateurs alignés">
                </div>
                <div class="col-md-6">
                    <h2>Bienvenue sur le site d'Info-cours</h2><br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, asperiores molestias? Aperiam vel earum voluptatibus maxime autem cupiditate, distinctio animi molestiae corporis laudantium id accusamus, facere suscipit totam aliquam placeat!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates laborum accusamus maiores culpa dolorem officia, officiis quo in fuga ab possimus maxime, dolor, dolores sunt neque laboriosam asperiores cupiditate?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aperiam, vel repudiandae ipsam nesciunt veniam quod libero dolores laboriosam doloribus aliquid dicta minus, possimus commodi, velit est facere sit ratione?</p>
                    <a class="btn btn-primary float-right mb-3" href="/about" role="button">En savoir plus</a>    
                </div>
           </div>
            
           
        </div>
    </div>
</div>          