<div class="jumbotron">
    <div class="row">    
        <div class="col">
            <form  class="form-inline" action="#">
                              
                <div class="form-group mx-sm-3 mb-2">
                    <label for="recherche">Rechercher un cours sur le site :&emsp;</label>
                    <input type="text" class="form-control" id="recherche" placeholder="Rechercher">
                
                </div>
                
                <button type="submit" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Lancer la recherche</button>

            </form>

                        
            <!-- Modal -->

            <!-- Button trigger modal -->


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pas de résultat</h5>
                   
                    </div>
                    <div class="modal-body">
                    Ceci est un site de démonstration, le champs de recherche n'est pas fonctionnel!
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer la fenêtre</button>
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   
</div>